/* ===============================================
	▼共通 (ヘッダー)
=============================================== */
/* ━━━━ ▼header  ━━━━ */
#header {
	width: 100%;
	position: relative;
	background-color: #fff;
	border-bottom:1px solid #cccccc;
	height: 180px;
	border-top:5px solid #079b9b;
}









